    <!-- CONTENT -->
   <div>
        <span class="left">
        	<img id="d-framework_id" height="134px" width="100px" src="images/logo.png"/>
        </span>
        <br>
        <h3 class="subheader text-center"> Δ-Framework : a simple PHP Framework</h3>
        <br>
        <br>
        
        <div data-alert class="alert-box">
        	Author : Damien Balima (dams)
        </div>
        <div data-alert class="alert-box">
        	Web site : <a href="http://www.dams-labs.net">www.dams-labs.net</a>
        </div>
        <div data-alert class="alert-box">
        	Copyright : Creative Commons for Non Commercial use (cc-by-nc-4.0) (<a href=" https://cc.ascribe.io/app/pieces/38188">link</a>)
        </div>
        <div data-alert class="alert-box">
        	Year : 2017
        </div>
    </div> 
    
