<div style="position:relative; top:10%;">
<p>Welcome to the <i>Δ-Framework 1.0</i></p>
<p>This site present some of the aspects of the framework</p>
<p>The purpose of this framework is to give basic templates and MVVC architecture compatible with PHP 5.3, 
for people that have a some knowledge in php development 
and are looking to some basic framework to study and play with.</p>
<p>Warning : this is not a commercial framework and it must not be used in a production environment.</p>

<br><br>
<p>Optimized for last navigators, using JavaScript.</p>

<p><a href="http://www.dams-labs.net">Dams-Labs &copy; 2015-3015</a></p>
</div>
